<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>loginUsers</servlet-name>
        <servlet-class>controle.loginUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginUsers</servlet-name>
        <url-pattern>/loginUsers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <dependency>
        <groupId>org.hibernate</groupId>
        <artifactId>hibernate-entitymanager</artifactId>
        <version>5.6.0.Final</version> <!-- Use a versão mais recente disponível -->
    </dependency>
</web-app>
